<%- include('../partials/header') %>

    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <!-- left column for sidenav, right is for main content -->
            <%- include('../partials/sidenav') %>
            <div class="column is-10">

            <!-- top notifications boxes -->
              <section>
                <div class="columns is-multiline">
                  <div class="column">
                    <div class="box notification is-primary">
                      <div class="heading">Total amount spent this week</div>
                      <div class="title"><%= income %></div>
                    </div>
                  </div>
                </div>
              </section>
              
              <section>
                <div class="columns">
                  <div class="column is-6">
                    <canvas id="expenseChart"></canvas>
                  </div>
                  <div class="column is-6">
                    <canvas id="incomeChart"></canvas>
                  </div>
                </div>
              </section>
              <%- include('../partials/newentrymodal') %>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>