<%- include('../partials/header') %>

  <section>
    <div class="container">
        <div class="columns">
            <!-- left column for sidenav, right is for main content -->
            <%- include('../partials/sidenav') %>
            <div class="column is-10">
            <!-- top notifications boxes -->
              <section>
                <div class="columns is-full">
                  <div class="column">
                    
                    <div class="box notification is-light">
                      <div class="level">
                        <div class="level-left">
                          <div>
                            <div class="heading">Total Income this month</div>
                            <div class="title" id="incomeValue"><%= income %></div>
                          </div>
                        </div>
                        <div class="level-right">
                          <a class="button is-danger" id="update-income">Edit</a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>

                <div class="columns is-multiline">
                  <div class="column">
                    <div class="box notification is-primary">
                      <div class="heading">Total spent on Needs</div>
                      <div class="title" id="needsValue"><%= needs %></div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="box notification is-info">
                      <div class="heading">Total spent on wants</div>
                      <div class="title" id="wantsValue"><%= wants %></div>
                      
                    </div>
                  </div>
                  <div class="column">
                    <div class="box notification is-danger">
                      <div class="heading">Total in savings</div>
                      <div class="title" id="savingsValue"><%= savings %></div>
                     
                    </div>
                  </div>
                </div>
              </section>
              
              <section>
                <div class="columns">
                  <div class="column is-8">
                    
                    <table class="table is-fullwidth">
                      <thead>
                          <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Amount</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% entries.forEach(item => {  %>
                          <tr>
                              <td><%= item.category %> </td>
                              <td><%= item.type %> </td>
                              <td><%= item.amount %> </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="column is-4">
                    <canvas id="overallChart"></canvas>
                  </div>
                  
                </div>
              </section>
              <%- include('../partials/newentrymodal') %>
              <%- include('../partials/updateincomemodal') %>
            </div>
        </div>
    </div>
  </section>
<%- include('../partials/footer') %>