<%- include('../partials/header') %>

    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <!-- left column for sidenav, right is for main content -->
            <%- include('../partials/sidenav') %>
            <div class="column is-10">

            <!-- top notifications boxes -->
              <section>
                <div class="columns is-multiline">
                  <div class="column">
                    <div class="box notification is-info">
                      <div class="heading">Total amount spent this week</div>
                      <div class="title"><%= wants %></div>
                    </div>
                  </div>
                </div>
              </section>
              
              <section>
                  <div class="column">
                    <div class="dropdown" id="filter-dropdown">
                      <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                          <span>Sort by</span>
                          <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <a href="/users/sortedbycategory/wants" class="dropdown-item">
                            Category
                          </a>
                          <a href="/users/sortedbyamount/wants" class="dropdown-item">
                            Amount
                          </a>
                          <a href="/users/sortedbydate/wants" class="dropdown-item">
                            Date
                          </a>
                        </div>
                      </div>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                              <th>Category</th>
                              <th>Type</th>
                              <th>Amount</th>
                              <th>Date</th>
                              <th>Tags</th>
                              <th></th>
                              <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Total Amount</th>
                                <th></th>
                                <th>$ <%= wants %> </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% entries.forEach(item => { if (item.type == "wants") { %>
                            <tr>
                                <td><%= item.category %> </td>
                                <td>Need </td>
                                <td>$ <%= item.amount %> </td>
                                <td><%= item.created_at.toDateString() %> </td>
                                <td><%= item.tags.join(", ") %> </td>
                                <td>
                                  <!-- <form action="" method="GET">
                                    <button type="submit" class="button is-info">Update</button>
                                  </form> -->
                                  <a class="button is-info" href="/users/updateentry/<%= item.id %>">Update</a>
                                </td>
                                <td>
                                  <form action="/users/deleteentry/<%= item.id %>" method="POST">
                                    <button type="submit" class="button is-danger">Delete</button>
                                  </form>
                                </td>
                            </tr>
                            <% }}) %>
                        </tbody>
                    </table>
                  </div>
                
              </section>
              
              <%- include('../partials/newentrymodal') %>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>